 <div class="form-inline">
      <%= f.label :name_product %>
      <%= f.collection_select(:name, Product.all, :name, :name, {multiple: true}, {class: 'form-control'}) %>
      <%= f.label :price %>
      <%= f.text_field :price, class: 'form-control' %>
 </div>


