<%= form_for(@order, local: true) do |f| %>
    <% @order.errors.full_messages.each do |error| %>
        <div class="alert alert-danger">
          <%= error %>
        </div>
    <% end %>
    <%= render 'form_fields', f: f %>

    <%= f.submit class: 'btn btn-default' %>

<% end %>


