<%= f.fields_for :category do |category| %>
    <div class="form-group">
      <%= category.label :category_id %>
      <%= category.collection_select(:category_id, Category.all, :id, :name, {multiple: true}, {class: 'form-control'}) %>
    </div>

<% end %>




<!-- categoria nie potrzebna.. ale gdy jest  product => category belongs wymagane dodanie categori  #TODO -->
