<footer class="footer">
  <small>
    Pawel & Kamil
  </small>
  <nav>
    <ul>

      <li>GitHub - <a href="https://github.com/dartho2">Pawła</a> | <a href="https://github.com/xkamil">Kamila</a> </li>
    </ul>
  </nav>
</footer>
